
html{
background: url(background2.png) no-repeat center center fixed;
background-size: cover;
}

.center{
  position: fixed;
  width:100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.clock_outline{
  position: relative;
  height: 300px;
  width: 300px;
  border: 10px solid black ;
  border-radius: 50%;
  color:white;
}

.clock_centre{
  position: absolute;
  top:140px;
  left:143px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background-color: black;
}

.hand{
  position: absolute;
  left:150px;
  bottom:150px;
  color: white;
  transform-origin: bottom center;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.hourhand{
  height: 80px;
  width:6px;
  background-color: black;
}

.minutehand{
  height: 130px;
  width:6px;
  background-color: black;
}

.secondhand{
  height: 130px;
  width:6px;
  background-color: red;
}
